<h1><%= pluralize @companies.size, "company" %></h1>

<% @companies.each do |company| %>
  <% cache company do %>
    <div>
      <h2><%= company.name %></h2>
  
      <h3>Addresses</h3>
      <ul>
        <% company.addresses.each do |address| %>
          <% cache address do %>
            <li><%= address.street_line_1 %> <%= address.city %>, <%= address.region %> <%= address.postal_code %></li>
            <% end %>
        <% end %>
      </ul>
  
      <h3>Users</h3>
      <ul>
        <% company.users.each do |user| %>
          <% cache user do %>
            <li>
              <b><%= user.full_name %></b>
              <h4>Addresses</h4>
              <ul>
                <% user.addresses.each do |address| %>
                  <% cache address do %>
                    <li><%= address.street_line_1 %> <%= address.city %>, <%= address.region %> <%= address.postal_code %></li>
                    <% end %>
                <% end %>
              </ul>
            </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
